body{
   background-image: url('../../static/images/foodBackground.jpg');
   background-position: center;
   background-size:100%;
   background-repeat: no-repeat;
}

.head-div{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:40px;
    margin-bottom:0px;
}

.container{
    background-color: rgba(255,250,250);
    display:flex;
    flex-direction: column;
    text-align: center;
    margin-top:10%;
    width:50%;
    margin-left:auto;
    margin-right: auto;
    padding-bottom:40px;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 2px rgb(0 0 0 / 0.3);

}

#query{
    min-width:12cm;
    min-height:30px;
    font-size:14px;
}

#search-btn{
    min-height:36px;
    background-color: 	#3d860b;
    border-radius: 2%;
    color: rgba(255,250,250);
    font-size:14px;
    border-width:1px;
}
.search-container{
    gap:0;
}

.clipart{
   height:130px;
   width:130px;
   margin-top:-5%;
   margin-bottom:5%;
   margin-left: auto;
   margin-right: auto;
}